# Системные файлы
.DS_Store
Thumbs.db

# Python
*.pyc
*.pyo
*.pyd
__pycache__/
env/
venv/
ENV/
venv.bak/
*.egg-info/
*.egg

# Django
*.log
local_settings.py
db.sqlite3
/static/
/media/

# Папка с миграциями Django, не нужно отслеживать
migrations/

# PyCharm
.idea/

# VS Code
.vscode/

# Jupyter Notebook
.ipynb_checkpoints

# Инструменты для тестирования и сборки
coverage/
nosetests.xml
*.cover
*.py,cover
*.log
*.sqlite3
*.db

# Конфиденциальные файлы
*.env
*.secret
secrets.py
